requests==2.31.0
Django==4.2.13
celery_progress==0.5
celery==5.3.6
redis==5.0.4
pybinaryedge==0.5
pycountry==19.8.18
shodan==1.19.0
bs4==0.0.2
pynmea2==1.19.0
maxminddb==2.6.1
xmltodict==0.13.0
python-libnmap==0.7.3
lxml==5.2.1
